.numberOne {
    position: relative ;
    width: 200px;
    height: 200px;
    left: 40%;
    background-color: aquamarine;
    text-align: center;
    margin-top: 20px;
}
.numberTwo {
    position: relative ;
    width: 200px;
    height: 200px;
    left: 40%;
    background-color: aquamarine;
    text-align: center;
    margin-top: 20px;
}
.numberThree {
    position: relative ;
    width: 200px;
    height: 200px;
    left: 40%;
    background-color: aquamarine;
    text-align: center;
    margin-top: 20px;
}
.numberFour {
    position: relative ;
    width: 200px;
    height: 200px;
    left: 40%;
    background-color: aquamarine;
    text-align: center;
    margin-top: 20px;
}
